
#top-bar {
  background-color: #4A5A66;
  color: white;
  text-align: center;
  .topbar-title {
    display: none;
  }
}

#main-menu-container {
  text-transform: uppercase;
  .navbar-brand {
    max-width: 200px;
    height: 100%;
  }
}



#wrapper-footer-full {
  background: rgb(96,74,172);
  background: linear-gradient(0deg, rgba(96,74,172,1) 0%, rgba(96,74,172,1) 51%, rgba(74,26,240,1) 100%);
  color: white;
  a {
    color: white !important;
  }
}

#wrapper-footer {
  background-color: #554d73;
  color: white;
}

#staff-container {
  margin-bottom: 35px;
}
.staff-name{
      color: #146DA0;
      font-family: 'Playfair Display SC';
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
  }


.staff-title {
  color: #A0A1A5;
  margin: 15px 0px 25px 0px;
}

hr.solid {
  border-top: 3px solid #E89613;
  width: 200px;
  margin-left: 0px;
}

#footer-full-content {
  text-transform: uppercase;
  .footer-widget {
    .menu {
      list-style: none;
      padding-left: 5px;
    }
  }
  }
